<h3 id="web-apps">Certifications</h3>
<hr class="yellow" />

<div class="box2">
  <%= image_tag "certificate1.jpg", class: 'full-width'%>
</div>
<div class="box2">
  <%= image_tag "certificate2.jpg", class: 'full-width'%>
</div>
<br class="clear">
<div class="box2">
  <%= image_tag "certificate3.jpg", class: 'full-width'%>
</div>
<div class="box2">
  <%= image_tag "certificate4.jpg", class: 'full-width'%>
</div>

