/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}

.bio {
  color: white;
  font-size: 14px;
}

.me {
  height: 150px;
  /*border-radius: 100%;*/
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}

.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grey {
  height: 3px;
  background-color: #919191;
  border: none;
  width: 50px;
}

.about-container {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}

.yellow {
  border-top: 5px double #F5A623;
  width: 250px;
  border-bottom: none;
    border-right: none;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear: both;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

.full-width {
  width: 100%;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}

.icons {
  text-align: center;
}

.icon {
  margin: 30px 0;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  font-weight: bold;
}

.nav-link {
  color: white;
  text-decoration: none;
}

li {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-left: 30px;
}

.hire-me {
  border-style: solid;
  border-color: white;
}

ul {
  text-align: center;
}

/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7C7C7C;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #96CBFE;
}

.token.class-name {
  color: #FFFFB6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A8FF60;
}

.token.variable {
  color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
}

.token.url {
    color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
  color: #87C38A;
}

.token.atrule,
.token.attr-value {
    color: #F9EE98;
}

.token.function {
  color: #DAD085;
}

.token.regex {
    color: #E9C062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[class*="language-"] {
  border-radius: 0;
}

.shorter {
  height: 300px;
}

.aligned {
  text-align: center;
  display: block;
  margin-top: 7px;
}
