<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <title>Jay Johnson</title>
    <meta name="description" content="Jay Johnson is a junior
        software engineer specializing in full-stack development.
        He has significant experience with Ruby on Rails, html, css, and javascript.">
      
  </head>

  <body>
    <%= yield %>
  </body>
</html>
